.cardvs {
  &__container {
    display: inline-block;
    border: solid #212121 3px;
    border-radius: 10px;
    min-height: 264px;
    position: relative;
    padding: 25px 5px 10px;
  }
  &__player {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;

    text-align: center;
    font-size: 0.85rem;
    margin-bottom: 10px;
  }
  &__avatar {
    display: flex;
    justify-content: center;
    &-content {
      width: 91px;
      height: 90px;
      border: 2px solid #2b2b2b;
      border-radius: 5px;
      img {
        width: 100%;
      }
    }
  }
  &__name {
    margin: 15px auto;
    width: 90px;
    font-size: 0.5rem;
    text-align: center;
  }
  &__political-information {
    display: flex;
    justify-content: center;
    img {
      width: 35px;
      margin-right: 5px;
    }
    img:last-child {
      margin-right: 0px;
    }
  }
}
