@use "main";

.compare-officials-page {
  &__title {
    width: 260px;
    margin: 50px auto 0;
    img {
      width: 100%;
    }
  }

  &__comparation-bars {
    margin-top: 70px;
    margin-bottom: 80px;
    padding: 0 20px;

    .comparation-bars__item {
      span {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 20px;
      }
    }

    .comparation-bars__item:first-child {
      margin-bottom: 42px !important;
    }
  }

  .comparation-bars__title-records {
    display: block;
    padding: 0 35px;
  }

  &__comparation-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
  }

  &__comparation-cards > div:last-child {
    margin-top: 30px;
  }

  &__criminal-record-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  &__comparation-reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;

    span {
      display: block;
      margin-bottom: 20px;
      font-size: 0.6rem;
    }
  }
}

@media (min-width: 768px) {
  .compare-officials-page {
    &__title {
      width: 400px;
    }

    &__comparation-bars {
      padding: 0;

      .comparation-bars__item:first-child {
        margin-bottom: 50px !important;
      }
    }

    &__comparation-cards {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    &__comparation-cards > div:last-child {
      margin-top: 0;
    }

    .comparation-bars__title-records {
      display: block;
      padding: 0;
    }

    &__criminal-record-cards {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__criminal-record-cards > div:last-child {
      margin-top: 0;
    }

    &__comparation-reset {
      margin-bottom: 70px;
    }
  }
}
