.footer {
  font-family: "Jersey 15", sans-serif;
  font-size: 1.2rem;
  max-width: 975px;
  margin: 63px auto;
  padding: 0 30px;

  &__data-sources {
    padding-bottom: 15px;
    h3 {
      font-size: 1.5rem;
    }

    &__accordion {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;

      &--show {
        max-height: 3000px;
        opacity: 1;
        transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out;
      }
    }
  }

  /*button {
    padding: 4px 8px;
    border: 1px solid transparent;
    line-height: 1.5;
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
  }

  button:hover {
    background-color: #545b62;
    border-color: #4e555b;
  }*/

  .divider {
    border-bottom: 1px solid #dee2e6 !important;
  }

  &__more-information {
    margin: 48px 0;
    padding-top: 16px;
    text-align: center;

    &__group {
      margin: 3px 0;
    }

    &--title {
      font-size: 16px;
      color: #53E101;
      display: block;
    }

    &--text {
      font-size: 16px;
      color: #333;
      display: block;
    }

    &__allies {
      margin-top: 30px;
    }

    .allies-item {
      margin-bottom: 48px;

      &__title {
        display: block;
        margin-bottom: 8px;
      }

      &__logo {
        margin-right: 48px;
      }

      &__logo:last-child {
        margin-right: 0cqi;
      }
    }

    .allies-item:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    &__more-information {
      display: flex;
      justify-content: space-between;

      &__team {
        text-align: left;
      }

      &__allies {
        text-align: right;
      }
    }
  }
}
