.footer {
  font-family: Roboto, sans-serif;
  max-width: 975px;
  margin: 63px auto;
  padding: 0 30px;

  &__data-sources {
    h3 {
      font-size: 1.5rem;
    }

    &--hidden {
      display: none;
    }
    padding-bottom: 15px;
  }

  button {
    padding: 4px 8px;
    border: 1px solid transparent;
    line-height: 1.5;
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
  }

  .divider {
    border-bottom: 1px solid #dee2e6 !important;
  }

  &__more-information {
    margin: 48px 0;
    padding-top: 16px;
    text-align: center;

    &__group {
      margin: 3px 0;
    }

    &--title {
      font-size: 16px;
      color: #dc130e;
      display: block;
    }

    &--text {
      font-size: 16px;
      color: #333;
      display: block;
    }

    &__allies {
      margin-top: 30px;
    }

    .allies-item {
      margin-bottom: 48px;

      &__title {
        display: block;
        margin-bottom: 8px;
      }

      &__logo {
        margin-right: 48px;
      }

      &__logo:last-child {
        margin-right: 0cqi;
      }
    }

    .allies-item:last-child {
      margin-bottom: 0px;
    }
  }
}
