.equity-increase-comparator {
  &__label {
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 10px;
  }
  &__line-container {
    margin-top: 35px;
  }
  &__line-title {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    text-align: center;
    color: #808080;
    margin-bottom: 10px;
  }
  &__line-chart {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .equity-increase-comparator {
    &__line-container {
      margin-top: 50px;
    }
    &__line-title {
      font-size: 0.8rem;
      text-align: start;
      color: #212529;
    }
  }
}
