.fight-overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .icon-fight {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
