@use "main";

.heritage-explorer-page {
  &__title {
    width: 280px;
    margin: 30px auto;
  }

  &__wayki-selector {
    padding-top: 12px;
  }

  &__research {
    background-color: #e4e4e4;
    margin: 30px auto;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .research-details {
      margin-top: 46px;

      &__title {
        font-size: 0.6rem;
        text-transform: uppercase;
        letter-spacing: -0.5px;
      }

      &__text {
        font-family: "Roboto", sans-serif;
        margin-top: 20px;
        font-size: 0.9rem;
        line-height: 1.7;
      }
    }
  }

  &__information {
    font-family: "Roboto", sans-serif;
    margin-top: 34px;
    padding: 0 40px;
    font-size: 0.9rem;
    line-height: 30px;
  }

  &__equity-increase {
    margin-top: 57px;
    padding: 0 23px;

    .equity-increase {
      &__title {
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 450px;
        text-align: center;
        margin-bottom: 30px;
      }

      &__subtitle {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 0.8rem;
        margin-left: 70px;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  .heritage-explorer-page {
    &__title {
      width: 400px;
      margin: 60px auto;
    }

    &__research {
      flex-direction: row;

      .research-details {
        margin-left: 50px;

        &__title {
          font-size: 0.8rem;
          text-transform: uppercase;
          letter-spacing: -0.5px;
        }
      }
    }

    &__information {
      margin-top: 80px;
      padding: 0;
      font-size: 1rem;
      line-height: 30px;
    }

    &__equity-increase {
      margin-top: 80px;
    }
  }
}
