.hero {
  background-image: url("../assets/images/fondo_street_wayki.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Jersey 15", sans-serif;
  min-height: 100vh;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si tiene altura definida */
    padding: 40px 0 10px;

    img {
      position: relative;
      width: 290px;
      margin: 0 auto;
      padding: 40px 0 10px;
    }
  }

  &__content {
    position: relative;
    padding: 10px 10px 10px;
  }

  &__title {
    position: relative;
    width: 300px;
    margin: 10px auto 30px;

    img {
      width: 100%;
    }
  }

  &__subtitle {
    position: relative;
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
  }

  &__introduction {
    position: relative;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
  }

  &__social-network {
    position: relative;
    margin-bottom: 20px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      a {
        cursor: pointer;
        margin: 0 5px;
        padding: 0 5px 2px 5px;
        border: 1px solid #000;
        border-radius: 50%;
        background: #000;
        color: #fff;
        display: inline-block;
      }
    }
  }

  &__date {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
  }

  &__actions {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Press Start 2P";

    button {
      font-size: 0.7rem;
      margin-right: 20px;
      width: 120px;
    }

    button:last-child {
      margin-right: 0px;
    }
  }

  &__illustration {
    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    &__title {
      width: 500px;
      margin: 20px auto 40px;
    }

    &__subtitle {
      font-size: 2.5rem;
    }

    &__introduction {
      font-size: 2rem;
      max-width: 700px;
      margin: 0 auto 30px;
    }

    &__social-network {
      margin-bottom: 30px;
    }

    &__date {
      margin-bottom: 30px;
      font-size: 1.8rem;
    }

    &__actions {
      button {
        margin-right: 40px;
        width: 160px;
        font-size: 1rem;
      }

      button:last-child {
        margin-right: 0px;
      }
    }

    /* &__illustration {
      max-width: 600px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    } */
  }
}
