@use "main";

.home-page {
  &__hero {
    margin: 40px 0 50px;
  }

  &__information {
    font-family: "Roboto", sans-serif;
    padding: 0 26px;
    line-height: 30px;
    font-size: 0.9rem;
  }

  &__wayki-selector {
    padding: 58px 0 0;
  }
}

@media (min-width: 768px) {
  .home-page {
    &__hero {
      margin-bottom: 70px;
    }

    &__information {
      font-size: 1rem;
      margin-bottom: 50px;
    }
  }
}
