@use "main";

.home-page {
  &__social-network {
    position: relative;
    margin: 20px 0;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      a {
        cursor: pointer;
        margin: 0 5px;
        padding: 0 5px 2px 5px;
        border: 1px solid #000;
        border-radius: 50%;
        background: #000;
        color: #fff;
        display: inline-block;
      }
    }
  }

  &__date {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
  }
  &__information-container {
    padding-top: 40px;
  }

  &__information {
    font-family: "Jersey 15", sans-serif;
    font-weight: normal;
    padding: 0 26px;
    line-height: 30px;
    p {
      font-size: 1.2rem;
    }

    &--capital {
      font-weight: 600 !important;
      font-size: 100px !important;
      float: left;
      margin-right: 20px !important;
      color: #cf1b90 !important;
      line-height: 0.7em;
    }
  }

  &__wayki-selector {
    padding: 65px 0 0;
  }

  &__equity-increase {
    margin-top: 57px;
    padding: 0 23px;

    .equity-increase {
      &__title {
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 1rem;
      }

      &__subtitle {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 0.8rem;
        margin-left: 70px;
        margin-bottom: 10px;
        display: block;
      }

      &__bar {
        height: 400px;
      }
    }
  }

  &__asset-increase-comparator {
    margin-top: 70px;
    padding: 0 24px;
    .asset-increase-comparator {
      &__title {
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 768px) {
  .home-page {
    &__social-network {
      margin: 30px 0;
    }

    &__date {
      margin-bottom: 30px;
      font-size: 1.8rem;
    }

    &__information {
      font-size: 1rem;
    }

    &__equity-increase {
      margin-top: 80px;
    }

    &__asset-increase-comparator {
      margin-top: 90px;
    }
  }
}
