.content-450 {
  max-width: 450px;
  margin: 0 auto;
}

.content-550 {
  max-width: 550px;
  margin: 0 auto;
}

.content-650 {
  max-width: 650px;
  margin: 0 auto;
}

.content-750 {
  max-width: 750px;
  margin: 0 auto;
}
