.more-options {
  padding: 10px 30px;
  background-color: #cf1c90;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #d9d9d9;
    padding-left: 10px;
    font-size: 0.8rem;
  }

  &__img {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  &__text {
    color: #eaeaea;
    text-align: center;
    margin-bottom: 35px;
    font-family: "Jersey 15", sans-serif;
    font-size: 1.2rem;
  }

  &__title {
    color: #eaeaea;
    text-align: left;
    font-family: "Press Start 2P";
    padding-left: 15px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .more-options {
    padding: 100px 0;
    margin: 0 auto;

    &__content {
      max-width: 780px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      border-right: 1px solid #d9d9d9;
      border-bottom: none;
      margin: 0 auto;
      font-size: 0.9rem;
    }

    &__item:last-child {
      border-right: none;
    }

    &__text {
      font-family: "Jersey 15", sans-serif;
      font-size: 1.2rem;
    }
  }
}
