.wayki-selector {
  &__select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__filters {
    padding: 0 0 28px;
    background-color: white;
    transition: position 0.3s ease, top 0.3s ease;
  }

  &__filters--sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 86px;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
  }

  &__select:first-child {
    margin-bottom: 26px;
  }

  &__select {
    width: 300px;
    span {
      font-size: 0.7rem;
      margin-left: 5px;
      display: block;
      margin-bottom: 12px;
    }
  }

  &__scatter-container {
    margin-top: 10px;
    padding: 0 15px;
  }

  &__scatter-container.is-sticky {
    margin-top: 100px;
  }

  &__scatter-title {
    font-size: 0.7rem;
  }

  &__scatter-chart {
    height: 390px;
  }
}

@media (min-width: 768px) {
  .wayki-selector {
    &__select-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 650px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__select:first-child {
      margin-bottom: 0px;
      margin-left: -7px;
    }
  }
}
