.wayki-selector {
  &__select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__filters {
    padding: 0 0 28px;
    background-color: white;
    transition: position 0.3s ease, top 0.3s ease;
  }

  &__title {
    font-family: "Jersey 15", sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
  }

  &__select:first-child {
    margin-bottom: 26px;
  }

  &__select {
    z-index: 3;
    width: 300px;
    span {
      font-family: "Jersey 15", sans-serif;
      font-size: 1.2rem;
      margin-left: 5px;
      display: block;
      margin-bottom: 12px;
    }
  }
}

@media (min-width: 768px) {
  .wayki-selector {
    &__select-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__select {
      width: 100%;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
}
