.wayki-vs {
  width: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin: 19px 0;

    svg {
      width: 87px;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
}

@media (min-width: 768px) {
  .wayki-vs {
    &__info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      margin: 0 10px;

      svg {
        width: 100px;
      }
    }

    &__action {
      margin-top: 50px;
    }
  }
}
